.foods {
	margin: 3px;
}

h1 {
	text-align: center;
}

.center {
	text-align: center;
}

#topic {
	text-align: center;
}

.background {
	background-image: url(../images/image.jpg);
	color: blue;
	text-shadow: 2px 2px yellow;
}
